﻿<%@ Master Language="VB" CodeFile="MasterPage_Test.master.vb" Inherits="MasterPage_Test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>President Travel & Tour Pvt. Ltd.</title>

     <%--<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="images/fav.png"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet"/>
    <link href="<%=ResolveUrl("Custom_Design/css/animate.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("Custom_Design/css/bootstrap.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("Custom_Design/css/font-awesome.min.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("Custom_Design/css/materialize.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("Custom_Design/css/mob.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("Custom_Design/css/style.css")%>" rel="stylesheet" />--%>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="images/fav.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet"/>
    <link rel="stylesheet" href="Custom_Design/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="Custom_Design/css/style.css"/>
    <link rel="stylesheet" href="Custom_Design/css/materialize.css"/>
    <link rel="stylesheet" href="Custom_Design/css/bootstrap.css"/>
    <link rel="stylesheet" href="Custom_Design/css/mob.css"/>
    <link rel="stylesheet" href="Custom_Design/css/animate.css"/>

</head>
<body>

<%--      <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>--%>


         <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
             
                        <a href="<%ResolveUrl("Login.aspx")%>"><img src="<%=ResolveUrl("Custom_Design/images/logo_new.png")%>" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <a href="regs2.aspx"><h4>Register</h4></a>
                            
                            <a href="about-us.aspx"><h4>About Us</h4></a>
                            
                            <a href="#"><h4>Privacy Policy</h4></a>
                           
                            <a href="#"><h4>Term Conditions</h4></a>
                            
                            <a href="<%ResolveUrl("contact-us.aspx")%>"><h4>Contact Us</h4></a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
      <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250" style="background: #f1f1f1;border-bottom: 1px solid #ddd;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="Login.aspx"><img src="Custom_Design/images/logo_new.png" alt="" style="width:115px;"/>
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="about-us.aspx">About Us</a>
                                </li>
                               
                                <li><a href="Privacy_Policy.aspx">Privacy Policy</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                               
                              <%--  <li><a href="">Terms and Conditions</a>
                                </li>--%>
                          
                                <li><a href="contact-us.aspx">Contact us</a>
                                </li>

                                <li><a href="regs_new.aspx">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!--END HEADER SECTION-->
        

    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>

    <section>
        <div class="rows copy">
            <div class="container">
                <p>Copyrights © 2020 President Travel & Tour Pvt. Ltd.. All Rights Reserved</p>
            </div>
        </div>
    </section>


</body>

<%--<script src="Custom_Design/js/wow.min.js"></script>
<script src="Custom_Design/js/materialize.min.js"></script>
<script src="Custom_Design/js/mail.js"></script>
<script src="Custom_Design/js/jquery-ui.js"></script>
<script src="Custom_Design/js/jquery-latest.min.js"></script>
<script src="Custom_Design/js/custom.js"></script>
<script src="Custom_Design/js/bootstrap.js"></script>--%>

     <script src="Custom_Design/js/jquery-latest.min.js"></script>
    <script src="Custom_Design/js/bootstrap.js"></script>
    <script src="Custom_Design/js/wow.min.js"></script>
    <script src="Custom_Design/js/materialize.min.js"></script>
    <script src="Custom_Design/js/custom.js"></script>


    <script>
        $(function () {

            var twoToneButton = document.querySelector('.twoToneButton');

            twoToneButton.addEventListener("click", function () {
                twoToneButton.innerHTML = "Signing In";
                twoToneButton.classList.add('spinning');

                setTimeout(
                      function () {
                          twoToneButton.classList.remove('spinning');
                          twoToneButton.innerHTML = "Sign In";

                      }, 6000);
            }, false);

        });
</script>


</html>
