﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPageForDash.master" AutoEventWireup="false"
    CodeFile="AgentProxyTicket.aspx.vb" Inherits="Reports_Proxy_AgentProxyTicket" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <%--<link href="../../CSS/main2.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />--%>
    <%--<link type="text/css" href="<%=ResolveUrl("~/Styles/jquery-ui-1.8.8.custom.css") %>"
        rel="stylesheet" />--%>

        <style>
    a, p, li, td, span {
    font-size: 11.5px;
    /* line-height: 24px; */
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: 400;
}
        </style>

    <div class="section sect">

        <div class="card-header">
           
                <h3 class="title_head" style="width: 24% !important;">Proxy Booking Report</h3>
                
        </div>


       

            <div class="row">

                <div class="col-md-3">
                    <label>From</label>

                    <input type="text" name="From" id="From" class="form-control" readonly="readonly" placeholder="Select Date" />
                </div>





                <%--<td class="bodytext" style="font-family: arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;"
                width="100px" colspan="1">
            </td>--%>
                <div class="col-md-3">
                    <label>To</label>
                    <input type="text" name="To" id="To" class="form-control"  placeholder="Select Date" readonly="readonly" style="" />
                </div>

                <div id="tr_ExecID" runat="server">


                    <div class="col-md-3">
                        <label>Trip</label>
                        <asp:DropDownList ID="ddl_TripType" runat="server" CssClass="form-control">
                            <asp:ListItem Value="Select">--Select--</asp:ListItem>
                            <asp:ListItem Value="D">Domestic</asp:ListItem>
                            <asp:ListItem Value="I">International</asp:ListItem>
                        </asp:DropDownList>
                    </div>



                    <%-- <td align="left" style="font-family: arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold"
                                        class="bodytext" width="100px">&nbsp;Agency Name :
                                    </td>--%>
                    <div class="col-md-3" id="td_Agency" runat="server">
                        <label>Agency Name</label>
                        <input type="text" id="txtAgencyName"  name="txtAgencyName" class="form-control" onfocus="focusObj(this);"
                            onblur="blurObj(this);" defvalue="Agency Name or ID" autocomplete="off" value="Agency Name or ID" />
                        <input type="hidden" id="hidtxtAgencyName" name="hidtxtAgencyName" value="" />
                    </div>

                    <div class="col-md-3" style="display: none">
                        Exec ID :
                        <asp:DropDownList ID="ddl_ExecID" runat="server" CssClass="form-control">
                        </asp:DropDownList>
                    </div>
                 
                    <div class="col-md-3">
                        <label>Status :</label>
                        <asp:DropDownList ID="ddl_Status" CssClass="form-control" runat="server">
                        </asp:DropDownList>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-4">
                <asp:Button ID="btn_search" runat="server" Text="ViewDetail" CssClass="btn btn-danger" ToolTip="Search by Date" />
                <asp:Button ID="btn_export" runat="server" Text="Export" CssClass="btn btn-danger" ToolTip="Export by Date" />
            </div>
            </div>





            
            <%--<tr>
            <td style="color: #FF0000" colspan="4">* N.B: To get Today's booking without above parameter,do not fill any field, &nbsp;
                    only click on search your booking.
            </td>
        </tr>--%>
      
    </div>

    <div class="table-responsive">

        <table>


            <asp:GridView ID="GridProxyDetail" runat="server" AutoGenerateColumns="False" DataKeyNames="ProxyID"
                OnPageIndexChanging="GridProxyDetail_Changing" Width="100%" CssClass="rtable"
                PageSize="30" AllowPaging="True">
                <Columns>
                    <asp:TemplateField HeaderText="ProxyID">
                        <ItemTemplate>
                            <a id="ancher" href='PassengerDetail.aspx?ProxyID=<%#Eval("ProxyID")%>' onclick="wopen('package_detail.aspx', 'popup',600, 300); return false;"
                                rel="lyteframe" rev="width: 800px; height: 400px; overflow:hidden;" target="_blank"
                                style="font-family: arial, Helvetica, sans-serif; font-size: 12px; color: #800000; font-weight: bold;">
                                <asp:Label ID="lbl_ProxyID" runat="server" Text='<%#Eval("ProxyID") %>'></asp:Label>(View)</a>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="AgentID">
                        <ItemTemplate>
                            <asp:Label ID="lbl_AgentID" runat="server" Text='<%#Eval("AgentID") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Ag_Name">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Ag_Name" runat="server" Text='<%#Eval("Ag_Name") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="BookingType">
                        <ItemTemplate>
                            <asp:Label ID="lbl_BookingType" runat="server" Text='<%#Eval("BookingType") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="TravelType">
                        <ItemTemplate>
                            <asp:Label ID="lbl_TravelType" runat="server" Text='<%#Eval("TravelType") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="From">
                        <ItemTemplate>
                            <asp:Label ID="lbl_ProxyFrom" runat="server" Text='<%#Eval("ProxyFrom") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="To">
                        <ItemTemplate>
                            <asp:Label ID="lbl_ProxyTo" runat="server" Text='<%#Eval("ProxyTo") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="DDate">
                        <ItemTemplate>
                            <asp:Label ID="lbl_DDate" runat="server" Text='<%#Eval("DepartDate") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="RDate">
                        <ItemTemplate>
                            <asp:Label ID="lbl_RDate" runat="server" Text='<%#Eval("ReturnDate") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Class">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Class" runat="server" Text='<%#Eval("Class") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Airlines">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Airlines" runat="server" Text='<%#Eval("Airlines") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Classes">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Classes" runat="server" Text='<%#Eval("Classes") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="PaymentMode">
                        <ItemTemplate>
                            <asp:Label ID="lbl_PaymentMode" runat="server" Text='<%#Eval("PaymentMode") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Remark">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Remark" runat="server" Text='<%#Eval("Remark") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Alert Message" ItemStyle-ForeColor="Red">
                        <ItemTemplate>
                            <asp:Label ID="lbl_UpdateRemark" runat="server" Text='<%#Eval("UpdateRemark") %>'
                                ForeColor="Red" Font-Bold="True"></asp:Label>
                        </ItemTemplate>
                        <ItemStyle ForeColor="Red"></ItemStyle>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Status">
                        <ItemTemplate>
                            <asp:Label ID="lbl_Status" runat="server" Text='<%#Eval("Status") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Trip">
                        <ItemTemplate>
                            <asp:Label ID="lbl_ProxyType" runat="server" Text='<%#Eval("ProxyType") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="ExecutiveID">
                        <ItemTemplate>
                            <asp:Label ID="lbl_ExecutiveID" runat="server" Text='<%#Eval("Exec_ID") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="RequestedDate">
                        <ItemTemplate>
                            <asp:Label ID="lbl_requestDateTime" runat="server" Text='<%#Eval("requestDateTime") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="AcceptedDate">
                        <ItemTemplate>
                            <asp:Label ID="lbl_AcceptedDateTime" runat="server" Text='<%#Eval("AcceptedDate") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="UpdatedDate">
                        <ItemTemplate>
                            <asp:Label ID="lbl_UpdatedDate" runat="server" Text='<%#Eval("UpdatedDate") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <%--<asp:TemplateField HeaderText="Accept">
    <ItemTemplate>
   <asp:LinkButton ID="ITZ_Accept" runat="server" CommandName="Accept" CommandArgument='<%#Eval("ProxyID") %>' Font-Bold="True" Font-Underline="False">Accept</asp:LinkButton>
    </ItemTemplate>
    </asp:TemplateField>--%>
                </Columns>
                <RowStyle CssClass="RowStyle" />
                <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                <PagerStyle CssClass="PagerStyle" />
                <SelectedRowStyle CssClass="SelectedRowStyle" />
                <HeaderStyle CssClass="HeaderStyle" Height="50px" />
                <EditRowStyle CssClass="EditRowStyle" />
                <AlternatingRowStyle CssClass="AltRowStyle" />
            </asp:GridView>


        </table>
    </div>

    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-1.4.4.min.js") %>"></script>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/AgencySearch.js") %>"></script>

</asp:Content>
